<div class="newsletter-snippet">
  <div class="newsletter-snippet-inner relative">
    <div class="klaviyo-form-TzyPd9"></div>
    <div class="submit-btn-TzyPd9 absolute md:bottom-[40px] right-[31px] bottom-[30px] md:right-[53px] h-[40px] flex flex-col justify-center fake-btn">
      {% render "icon--arrow-next" %}
    </div>
  </div>
</div>