<two-col-pip>
  <div class="start w-[105px]">
    <div data-flip-id="stage" class="thumbnail relative flex flex-col z-10 w-full">
      <div class="absolute top-[5px] left-[5px] w-[20px]" style="z-index: 1;">
        <svg
          class="w-full pip-plus"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <rect
            x="0.5"
            y="0.5"
            width="29"
            height="29"
            fill="white" />
          <path d="M15.1193 20C14.9867 20 14.8608 19.9934 14.7416 19.9802C14.609 19.967 14.5162 19.9208 14.4632 19.8416C14.3837 19.736 14.3439 19.5974 14.3439 19.4257C14.3439 19.2541 14.3439 19.0759 14.3439 18.8911L14.3439 16.8317C14.3439 16.6601 14.3439 16.4818 14.3439 16.297C14.3439 16.1254 14.3108 15.9868 14.2445 15.8812C14.165 15.7624 14.0391 15.6964 13.8668 15.6832C13.6945 15.67 13.5156 15.6634 13.33 15.6634L11.1233 15.6634C10.9112 15.6634 10.7058 15.6568 10.507 15.6436C10.3082 15.6436 10.169 15.5776 10.0895 15.4455C10.0497 15.3927 10.0232 15.3135 10.0099 15.2079C9.99669 15.1155 9.99669 15.0165 10.0099 14.9109C10.0232 14.8185 10.0431 14.7261 10.0696 14.6337C10.0961 14.5545 10.1292 14.5016 10.169 14.4752C10.275 14.396 10.4142 14.3564 10.5865 14.3564C10.7588 14.3564 10.9377 14.3564 11.1233 14.3564L13.2107 14.3564C13.3963 14.3564 13.5951 14.3498 13.8072 14.3366C14.006 14.3366 14.1451 14.2838 14.2247 14.1782C14.3042 14.0726 14.3439 13.9274 14.3439 13.7426C14.3439 13.5578 14.3439 13.3729 14.3439 13.1881L14.3439 11.1089C14.3439 10.9373 14.3439 10.7657 14.3439 10.5941C14.3439 10.4224 14.3837 10.2838 14.4632 10.1782C14.503 10.1122 14.5626 10.0726 14.6421 10.0594C14.7084 10.0594 14.7879 10.0462 14.8807 10.0198C14.9072 10.0066 14.947 10 15 10C15.053 10.0132 15.0928 10.0198 15.1193 10.0198C15.2121 10.0462 15.285 10.0594 15.338 10.0594C15.3777 10.0594 15.4307 10.0858 15.497 10.1386C15.603 10.2046 15.6561 10.3366 15.6561 10.5347C15.6561 10.7459 15.6561 10.9439 15.6561 11.1287L15.6561 13.2079C15.6561 13.3927 15.6627 13.571 15.6759 13.7426C15.6759 13.9274 15.7091 14.0726 15.7753 14.1782C15.8681 14.2838 16.0139 14.3366 16.2127 14.3366C16.3983 14.3498 16.5838 14.3564 16.7694 14.3564L18.996 14.3564C19.1948 14.3564 19.3804 14.363 19.5527 14.3762C19.725 14.3894 19.8443 14.4554 19.9105 14.5743C19.9503 14.6271 19.9768 14.6997 19.9901 14.7921C20.0033 14.8977 20.0033 14.9967 19.9901 15.0891C19.9768 15.1947 19.9569 15.2871 19.9304 15.3663C19.9039 15.4587 19.8708 15.5182 19.831 15.5446C19.725 15.6238 19.5858 15.6634 19.4135 15.6634C19.2412 15.6634 19.0623 15.6634 18.8767 15.6634L16.7893 15.6634C16.6037 15.6634 16.4115 15.6634 16.2127 15.6634C16.0139 15.6766 15.8681 15.736 15.7753 15.8416C15.6958 15.9472 15.6561 16.099 15.6561 16.297C15.6561 16.5083 15.6561 16.7063 15.6561 16.8911L15.6561 18.8119C15.6561 18.9571 15.6627 19.1155 15.6759 19.2871C15.6759 19.4719 15.6561 19.6172 15.6163 19.7228C15.55 19.8548 15.4506 19.9406 15.3181 19.9802C15.2386 19.9802 15.1723 19.9868 15.1193 20Z" fill="#1E1E1E" />
          <rect
            x="0.5"
            y="0.5"
            width="29"
            height="29"
            stroke="#1E1E1E" />
        </svg>
      </div>
      <div class="absolute top-[15px] right-[15px] w-[20px] close-btn" style="z-index: 1; opacity: 0; pointer-events: none;">
        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3702 8.93862C10.175 9.1338 9.85851 9.1338 9.66326 8.93862L1.57525 0.853417C1.38 0.658236 1.06352 0.658236 0.868269 0.853417L0.636487 1.08512C0.441143 1.28039 0.441142 1.59707 0.636486 1.79235L8.724 9.87706C8.91935 10.0723 8.91935 10.389 8.724 10.5843L0.355675 18.9497C0.160332 19.145 0.160332 19.4617 0.355675 19.6569L0.587457 19.8886C0.782705 20.0838 1.09919 20.0838 1.29444 19.8886L9.66326 11.5227C9.85851 11.3275 10.175 11.3275 10.3702 11.5227L18.7095 19.8591C18.9047 20.0543 19.2212 20.0543 19.4165 19.8591L19.6482 19.6274C19.8436 19.4321 19.8436 19.1154 19.6482 18.9201L11.3095 10.5843C11.1142 10.389 11.1142 10.0723 11.3095 9.87706L19.3674 1.82192C19.5628 1.62664 19.5628 1.30997 19.3674 1.11469L19.1357 0.882988C18.9404 0.687808 18.6239 0.687807 18.4287 0.882988L10.3702 8.93862Z" fill="#1E1E1E"/>
        </svg>
      </div>

      {% if section.settings.pip_video %}
        {%- render "component--responsive-video", 
          cover: true,
          containerClasses: "pb-[125%]"
          autoplay: true,
          muted: true,
          loop: true,
          desktop_video: video,
          mobile_video: video, 
        -%}
      {% else %}
        {%- render "component--responsive-image", 
          image: image,
          maxSize: 1280 
        -%}
      {% endif %}
    </div>
  </div>

  <div class="bg fixed inset-0 opacity-0 z-40 flex flex-col items-center justify-center pointer-events-none">
    <div class="end w-[calc(100vw-20px)] z-10 p-[5px] bg-white/25 rounded-sm">
      <div data-flip-id="stage" class="stage w-full"></div>
      {% if product != empty %}
      <div class="product bg-white relative border border-black">
        {% render 'molecule--small-product-card' product: product %}
      </div>
      {% endif %}
    </div>
    <div class="bg-off-black inset-0 opacity-50 absolute"></div>
  </div>
</two-col-pip>
<style>
  .end .thumbnail .media {
    border-top: 5px solid rgba(255, 255, 255, 0.3);
    border-left: 5px solid rgba(255, 255, 255, 0.3);
    border-right: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px 3px 0 0;
  }
  .end .pip-plus {
    display: none;
  }
</style>