<div class="wrap relative w-[30px] h-[30px] dk:w-[40px] dk:h-[40px] m-auto">
    <svg class="w-full h-full absolute inset-0" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="1" class="heart-path" d="M40.0463 20.0743C37.4431 17.3109 33.2217 17.3109 30.6185 20.0743C30.1518 20.5697 29.8002 21.1323 29.5002 21.7179C29.2002 21.1323 28.8486 20.5679 28.3803 20.0726C25.7771 17.3091 21.5556 17.3091 18.9524 20.0726C16.3492 22.836 16.3492 27.3173 18.9524 30.0807L29.5002 41L40.0463 30.0807C42.6512 27.3173 42.6512 22.8378 40.0463 20.0743Z" fill="white" stroke="#1E1E1E" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg class="absolute inset-0 w-full h-full" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle class="main-circ" fill="#E2264D" opacity="1" cx="29.5" cy="29.5" r="1.5" />
        <g class="grp grp7" opacity="1">
            <path style="--t-x: -30px; --t-y: -15px;" class="oval-1" d="M9 14C10.1046 14 11 13.1046 11 12C11 10.8954 10.1046 10 9 10C7.89543 10 7 10.8954 7 12C7 13.1046 7.89543 14 9 14Z" fill="#9CD8C3" />
            <path style="--t-x: -55px; --t-y: -30px;" class="oval-2" d="M12 10C13.1046 10 14 9.10457 14 8C14 6.89543 13.1046 6 12 6C10.8954 6 10 6.89543 10 8C10 9.10457 10.8954 10 12 10Z" fill="#8CE8C3" />
        </g>
        <g class="grp grp6" opacity="1">
            <path style="--t-x: -30px; --t-y: 0px;" class="oval-1" d="M2 37C3.10457 37 4 36.1046 4 35C4 33.8954 3.10457 33 2 33C0.89543 33 0 33.8954 0 35C0 36.1046 0.89543 37 2 37Z" fill="#CC8EF5" />
            <path style="--t-x: -60px; --t-y: -5px;" class="oval-2" d="M3 32C4.10457 32 5 31.1046 5 30C5 28.8954 4.10457 28 3 28C1.89543 28 1 28.8954 1 30C1 31.1046 1.89543 32 3 32Z" fill="#91D2FA" />
        </g>
        <g class="grp grp5" opacity="1">
            <path style="--t-x: -10px; --t-y: 20px;" class="oval-1" d="M54 37C55.1046 37 56 36.1046 56 35C56 33.8954 55.1046 33 54 33C52.8954 33 52 33.8954 52 35C52 36.1046 52.8954 37 54 37Z" fill="#9CD8C3" />
            <path style="--t-x: -60px; --t-y: 30px;" class="oval-2" d="M56 32C57.1046 32 58 31.1046 58 30C58 28.8954 57.1046 28 56 28C54.8954 28 54 28.8954 54 30C54 31.1046 54.8954 32 56 32Z" fill="#8CE8C3" />
        </g>
        <g class="grp grp4" opacity="1">
            <path style="--t-x: 30px; --t-y: 15px;" class="oval-1" d="M49 14C50.1046 14 51 13.1046 51 12C51 10.8954 50.1046 10 49 10C47.8954 10 47 10.8954 47 12C47 13.1046 47.8954 14 49 14Z" fill="#CC8EF5" />
            <path style="--t-x: 40px; --t-y: 50px;" class="oval-2" d="M46 10C47.1046 10 48 9.10457 48 8C48 6.89543 47.1046 6 46 6C44.8954 6 44 6.89543 44 8C44 9.10457 44.8954 10 46 10Z" fill="#CC8EF5" />
        </g>
        <g class="grp grp3" opacity="1">
            <path style="--t-x: 30px; --t-y: 0;" class="oval-1" d="M20 57C21.1046 57 22 56.1046 22 55C22 53.8954 21.1046 53 20 53C18.8954 53 18 53.8954 18 55C18 56.1046 18.8954 57 20 57Z" fill="#91D2FA" />
            <path style="--t-x: 60px; --t-y: 10px;" class="oval-2" d="M16 54C17.1046 54 18 53.1046 18 52C18 50.8954 17.1046 50 16 50C14.8954 50 14 50.8954 14 52C14 53.1046 14.8954 54 16 54Z" fill="#91D2FA" />
        </g>
        <g class="grp grp2" opacity="1">
            <path style="--t-x: 30px; --t-y: -15px;" class="oval-1" d="M41 57C42.1046 57 43 56.1046 43 55C43 53.8954 42.1046 53 41 53C39.8954 53 39 53.8954 39 55C39 56.1046 39.8954 57 41 57Z" fill="#F48EA7" />
            <path style="--t-x: 60px; --t-y: -15px;" class="oval-2" d="M37 54C38.1046 54 39 53.1046 39 52C39 50.8954 38.1046 50 37 50C35.8954 50 35 50.8954 35 52C35 53.1046 35.8954 54 37 54Z" fill="#F48EA7" />
        </g>
        <g class="grp grp1" opacity="1">
            <path style="--t-x: 0; --t-y: -30px;" class="oval-1" d="M26.5 5C27.6046 5 28.5 4.10457 28.5 3C28.5 1.89543 27.6046 1 26.5 1C25.3954 1 24.5 1.89543 24.5 3C24.5 4.10457 25.3954 5 26.5 5Z" fill="#9FC7FA" />
            <path style="--t-x: 10px; --t-y: -50px;" class="oval-2" d="M31.5 4C32.6046 4 33.5 3.10457 33.5 2C33.5 0.89543 32.6046 0 31.5 0C30.3954 0 29.5 0.89543 29.5 2C29.5 3.10457 30.3954 4 31.5 4Z" fill="#9FC7FA" />
        </g>
    </svg>
</div>