<?xml version="1.0" encoding="UTF-8"?>
<svg width="36px" height="50px" viewBox="0 0 36 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
    <title>noun_Arrow_685132</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="noun_Arrow_685132" transform="translate(0.000000, -1.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Group" transform="translate(0.000000, 0.637820)">
                <path d="M17.31029,0.61144 L0.310291,16.61164 C-0.093909,16.99894 -0.096809,17.66084 0.263291,18.03374 C0.629191,18.41274 1.300891,18.44054 1.685391,18.08074 L16.99789,3.67434 L16.99789,49.362 C16.99789,49.9143 17.44559,50.362 17.99789,50.362 C18.55019,50.362 18.99789,49.9143 18.99789,49.362 L18.99789,3.67434 L34.31039,18.08074 C34.69489,18.44084 35.37249,18.41864 35.73249,18.03374 C36.09249,17.64914 36.10139,17.03024 35.68549,16.61164 L18.68549,0.61144 C18.21749,0.23114 17.64389,0.33114 17.31029,0.61144 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>