<svg
  width="21"
  height="19"
  viewBox="0 0 21 19"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <title>Previous arrow</title>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M2.42478 8.99267C2.20254 8.99267 2.09078 8.72439 2.2473 8.56661L9.96243 0.789159C10.0591 0.691693 10.0591 0.534496 9.96243 0.43703L9.60225 0.073936C9.50446 -0.024645 9.34507 -0.0246455 9.24728 0.0739355L0.0725135 9.3228C-0.0241714 9.42027 -0.024171 9.57746 0.0725139 9.67493L9.24728 18.9238C9.34507 19.0224 9.50446 19.0224 9.60225 18.9238L9.96243 18.5607C10.0591 18.4632 10.0591 18.306 9.96243 18.2086L2.25041 10.4343C2.09389 10.2765 2.20565 10.0082 2.42789 10.0082L19.7531 10.0082C19.8912 10.0082 20.0031 9.89626 20.0031 9.75819V9.24267C20.0031 9.1046 19.8912 8.99267 19.7531 8.99267L2.42478 8.99267ZM1.36661 9.49886C1.36661 9.48252 1.34681 9.47436 1.3353 9.48597C1.32822 9.49311 1.32822 9.50462 1.3353 9.51176C1.34681 9.52336 1.36661 9.51521 1.36661 9.49886Z"
    fill="#1E1E1E" />
</svg>