<svg class="w-full" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>Cart</title>
    <desc>This icon represents a shopping cart.</desc>
<path d="M19 5.32812V19.3244C19 20.2527 18.256 21.0001 17.332 21.0001H2.668C1.744 21.0001 1 20.2527 1 19.3244V5.32812H19Z" stroke="#1E1E1E" stroke-miterlimit="10"/>
<path d="M14.3074 5.32789H5.69141C5.69141 2.94092 7.62341 1 9.99941 1C12.3754 1 14.3074 2.94092 14.3074 5.32789Z" stroke="#1E1E1E" stroke-miterlimit="10"/>
</svg>
