<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <title>Expand video</title>
  <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
    <circle stroke="#FFF" stroke-width="2" fill="#FFBC82" stroke-linecap="round" stroke-linejoin="round" transform="rotate(180 10 10)" cx="10" cy="10" r="11"/>
    <g transform="translate(4.25 4.25)" fill="#FFF">
      <rect x="4.5" width="2.5" height="11.5" rx="1.25"/>
      <path d="M11.5 5.75c0 .69-.56 1.25-1.25 1.25h-9a1.25 1.25 0 010-2.5h9c.69 0 1.25.56 1.25 1.25z"/>
    </g>
  </g>
</svg>