<!-- START HEADER -->
<div id="header-view">
    <div class="container">
        <h1>Reset Password</h1>
    </div>
</div>
<!-- END HEADER -->

<!-- START RESET PASSWORD-->
<div id="login">
    <div class="container">
        <div class="eight columns offset-by-two">
            {% form 'reset_customer_password' %}
			    <div class="error">{{ form.errors | default_errors }}</div>
				<label class="label" for="password">Password</label>
			    <input type="password" value="" name="customer[password]" id="customer_password" class="field" size="16" />
				<label class="label" for="password_confirmation">Password Confirmation</label>
			    <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="field"  />
				<div class="action">
			    	<input class="button button-primary" type="submit" value="Reset Password" />
			    </div>
			 {% endform %}
        </div>
    </div>
</div>
<!-- END RESET PASSWORD -->